<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>students-mvc</display-name>
  <welcome-file-list>
    <welcome-file>student</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentControllerServlet</display-name>
    <servlet-name>StudentControllerServlet</servlet-name>
    <servlet-class>tech.phihungtf.studentsmvc.StudentControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentControllerServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseControllerServlet</display-name>
    <servlet-name>CourseControllerServlet</servlet-name>
    <servlet-class>tech.phihungtf.studentsmvc.CourseControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseControllerServlet</servlet-name>
    <url-pattern>/course</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScoreControllerServlet</display-name>
    <servlet-name>ScoreControllerServlet</servlet-name>
    <servlet-class>tech.phihungtf.studentsmvc.ScoreControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreControllerServlet</servlet-name>
    <url-pattern>/score</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetailControllerServlet</display-name>
    <servlet-name>CourseDetailControllerServlet</servlet-name>
    <servlet-class>tech.phihungtf.studentsmvc.CourseDetailControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetailControllerServlet</servlet-name>
    <url-pattern>/course/*</url-pattern>
  </servlet-mapping>
</web-app>